<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="product" tagdir="/WEB-INF/tags/responsive/product" %>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>

<div class="product-details page-title">
    <ycommerce:testId code="productDetails_productNamePrice_label_${product.code}">
        <div class="name">${fn:escapeXml(product.name)}<span class="sku">ID</span><span
                class="code">${fn:escapeXml(product.code)}</span></div>
    </ycommerce:testId>
    <product:productReviewSummary product="${product}" showLinks="true"/>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-0 col-lg-4">
        <product:productImagePanel galleryImages="${galleryImages}"/>
    </div>
    <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
    <div class="col-sm-6 col-lg-8">
        <div class="product-main-info">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-details">
                        <product:productPromotionSection product="${product}"/>
                        <ycommerce:testId code="productDetails_productNamePrice_label_${product.code}">
                            <product:productPricePanel product="${product}"/>
                        </ycommerce:testId>
                        <div class="description">${ycommerce:sanitizeHTML(product.summary)}</div>

                    </div>
                </div>

                <div class="col-sm-12 col-md-9 col-lg-6">
                    <c:choose>
                        <c:when test="${product.daysBeforeOffline == 1}">
                            <p><spring:theme code="product.details.offline.day"
                                             arguments="${product.daysBeforeOffline}"/></p>
                        </c:when>
                        <c:when test="${product.daysBeforeOffline > 1}">
                            <p><spring:theme code="product.details.offline.days"
                                             arguments="${product.daysBeforeOffline}"/></p>
                        </c:when>
                    </c:choose>
                    
                    <c:if test="${not empty product.additionalInformation}">
                        <div>
                            <p><span style="font-weight: bold"><spring:theme code="product.details.additional.information.title"/>: </span>${product.additionalInformation}</p>
                        </div>
                    </c:if>
                    <cms:pageSlot position="VariantSelector" var="component" element="div"
                                  class="page-details-variants-select">
                        <cms:component component="${component}" element="div"
                                       class="yComponentWrapper page-details-variants-select-component"/>
                    </cms:pageSlot>
                    <cms:pageSlot position="AddToCart" var="component" element="div"
                                  class="page-details-variants-select">
                        <cms:component component="${component}" element="div"
                                       class="yComponentWrapper page-details-add-to-cart-component"/>
                    </cms:pageSlot>

                </div>
            </div>
        </div>

    </div>
</div>
